#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        screnshot: screnshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_5>,
                <&macro_release>,
                <&kp LCMD &kp LEFT_SHIFT>;

            label = "SCRENSHOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LGUI RBKT    &kp Q  &kp W  &kp E        &kp R          &kp T          &kp Y        &kp U           &kp I        &kp O    &kp P     &mt RCMD LEFT_BRACKET
&mt LCTRL GRAVE  &kp A  &kp S  &kp D        &kp F          &kp G          &kp H        &kp J           &kp K        &kp L    &kp SEMI  &mt RCTRL SQT
&mt LALT MINUS   &kp Z  &kp X  &kp C        &kp V          &kp B          &kp N        &kp M           &kp COMMA    &kp DOT  &kp FSLH  &mt RALT BSLH
                               &lt RSE TAB  &mt LSHFT ESC  &lt LWR SPACE  &lt LWR RET  &mt RSHFT BSPC  &lt RSE DEL
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &trans
&trans  &kp EXCL         &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR        &trans
&trans  &kp RIGHT_BRACE  &none         &kp PSCRN     &screnshot    &kp CAPS      &kp UNDER     &kp MINUS     &kp PLUS      &kp EQUAL     &kp LEFT_BRACE  &trans
                                       &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &kp C_BRI_DN  &kp C_BRI_UP  &kp C_PLAY  &kp C_PREV         &kp C_NEXT       &kp PAGE_UP    &kp HOME  &none   &none      &none  &trans
&trans  &none         &none         &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LEFT       &kp DOWN  &kp UP  &kp RIGHT  &none  &trans
&trans  &none         &none         &none       &none              &none            &kp PAGE_DOWN  &kp END   &none   &none      &none  &trans
                                    &trans      &trans             &trans           &trans         &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
